
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

button {
	letter-spacing: var(--letter-spacing);
	cursor: pointer;
}

:root {
	--letter-spacing: 4px;
	--border-radius: 6px;
	--font-family: monospace;
	--leter-spacing: 4px;
}


/* Have an image as the background of the page */
body {
	background: url("./assets/images/chef_background.jpg");
	background-repeat: no-repeat;
	/* Properly centers image on page  */
	background-position: center center; 
	/* Stays in place whilst scrolling */
	background-attachment: fixed;
	/* Scale dimensions to container and try to maintain aspect ratio */
	background-size: cover;
}

/* styling for the div holding all of the content: Center it and add spacing to contain the other pages */
.content {
	/* Position relative for the footer; maybe header later */
	position: relative;
}

/* header styling */
header {
	padding: 14px 12px;
	background-color: black;
	opacity: 0.80;
	text-align: center;
	color: white;
	font-family: var(--font-family);
}

/* Nav styling */
nav {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
}
nav > ul {
	display: flex;
	flex-direction: row;
}
.nav-links-main {
	justify-content: space-evenly;
	width: 70%;
	margin: 0 auto;
}
.nav-links-secondary {
	justify-content: space-evenly;	
}


/* Color the text in the nav items */
.nav-item > *,
h1 {
	font-size: 20px;
	color: white;
	font-family: var(--font-family);
} 


/* Style main 3 nav buttons, and then also the links */
.nav-button {
	border-style: solid;
	border: none;
	background: inherit;
}

nav .nav-button,
footer a,
.nav-links-secondary a {
	padding-bottom: 4px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s ease-in-out;
}
/* Now on hover, reveal the bottom border */
nav .nav-button:hover,
.footer-nav-links a:hover,
.nav-links-secondary a:hover {
	border-bottom: 2px solid white;
}

/* For the active button, which is the button that indicates the tab being used, we will underline it with border */
nav .nav-button[data-active] {
	border-bottom: 2px solid white;
}

/* footer styling */
footer {
	background-color: rgba(0,0,0, 0.3);
	color: white;
	text-align: center;
	padding: 12px 0;	
	position: absolutes;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}
/* Make the ul's both flex-boxes */
footer > ul {
	display: flex;
	column-gap: 30px;
}
footer .social-icon-img {
	height: 20px;
}
footer a {
	color: inherit;
}




/* Adding vertical margin to the main content section to help with spacing since it's going to be switching tabs */
.main-content {
	margin: 16px 0;
}


/* BOOK-MARK: Work on data attribute or active tab, but mainly work on generating stuff in javascript.*/




/* Home content page styling */
/* Welcome section */
#welcome-section {
	background-color: rgba(0,0,0, 0.5);
	color: white;
	text-align: center;
	width: 50%;
	margin: 24px auto;
	padding: 12px 16px;
	border-radius:  var(--border-radius);
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}
#home-page-img-el {
	width: 200px;
	border-radius: var(--border-radius);	
}
.page-divider {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* Styles the home content sections; these sections are different from the welcome section */
.home-content-card {
	background-color: rgba(0,0,0, 0.5);
	color: white;
	width: 40%;
	margin: 16px auto;
	padding: 12px 16px;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
} 
.home-content-card a {
	color: black;
	background-color: white;
	border: 2px solid black;
	padding: 12px 20px;
	align-self: flex-end;
	transition: background-color, color, 0.2s ease-in-out;
}
.home-content-card a:hover {
	background-color: black;
	color: white;
}