:root {
	--letter-spacing: 4px;
	--border-radius: 6px;
	--font-family: monospace;
	--btn-padding: 10px 12px;
	--btn-font-weight: 700;
	--transition: all 0.2s ease-in-out;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: var(--transition);
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

button {
	letter-spacing: var(--letter-spacing);
	padding: var(--btn-padding);
	cursor: pointer;
	font-weight: var(--btn-font-weight);
}

/* Have an image as the background of the page */
body {
	background: url("./assets/images/chef_background.jpg");
	background-repeat: no-repeat;
	/* Properly centers image on page  */
	background-position: center center; 
	/* Stays in place whilst scrolling */
	background-attachment: fixed;
	/* Scale dimensions to container and try to maintain aspect ratio */
	background-size: cover;
	font-family: var(--font-family);
	font-size: 14px;
}

.content {
	display: flex;
	flex-direction: column;
}

/* header styling */
header {
	padding: 14px 12px;
	background-color: black;
	opacity: 0.80;
	text-align: center;
	color: white;
}

/* Nav styling */
nav {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
}
nav > ul {
	display: flex;
	flex-direction: row;
}
.nav-links-main {
	justify-content: space-evenly;
	width: 70%;
	margin: 0 auto;
}
.nav-links-secondary {
	justify-content: space-evenly;	
}

/* Color the text in the nav items */
.nav-item > *,
h1 {
	font-size: 20px;
	color: white;
} 

/* Style main 3 nav buttons, and then also the links */
.nav-button {
	border-style: solid;
	border: none;
	background: inherit;
}

nav .nav-button,
footer a,
.nav-links-secondary a {
	padding-bottom: 4px;
	border-bottom: 2px solid transparent;
}
/* Now on hover, reveal the bottom border */
nav .nav-button:hover,
.footer-nav-links a:hover,
.nav-links-secondary a:hover {
	border-bottom: 2px solid white;
}

/* For the active button, which is the button that indicates the tab being used, we will underline it with border */
nav .nav-button[data-active] {
	border-bottom: 2px solid white;
}

/* footer styling */
footer {
	justify-self: flex-end;
	background-color: rgba(0,0,0, 0.3);
	color: white;
	text-align: center;
	padding: 12px 0;	
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;	
}
/* Make the ul's both flex-boxes */
footer > ul {
	display: flex;
	column-gap: 30px;
}
footer .social-icon-img {
	height: 20px;
}
footer a {
	color: inherit;
}

/* Adding vertical margin to the main content section to help with spacing since it's going to be switching tabs */
.main-content {
	margin: 16px 0;
}

/* Home content page styling */
/* Welcome section */
#welcome-section {
	background-color: rgba(0,0,0, 0.5);
	color: white;
	text-align: center;
	width: 50%;
	margin: 24px auto;
	padding: 12px 16px;
	border-radius:  var(--border-radius);
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}
#home-page-img-el {
	width: 200px;
	border-radius: var(--border-radius);	
}
.page-divider {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* Styles the home content sections; these sections are different from the welcome section */
.home-content-card {
	background-color: rgba(0,0,0, 0.5);
	color: white;
	width: 40%;
	margin: 16px auto;
	padding: 12px 16px;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
} 

/* Styles link on the home content cards, which looks like a button */
.home-content-card a {
	color: black;
	font-weight: var(--btn-font-weight);
	background-color: white;
	border: 2px solid black;
	padding: var(--btn-padding);
	align-self: flex-end;
	letter-spacing: var(--letter-spacing);
}
.home-content-card a:hover {
	background-color: black;
	color: white;
}


/* Styling for menu tab or menu-content-section */
.menu-content-section {
	margin: 12px 16px;
	text-align: center;
	color: white;
}

/* Styling the menu grid */
.menu-items-grid {
	background-color: rgba(0,0,0, 0.5);
	margin: 0 auto;
	padding: 20px 24px;
	display: grid;
	width: 70%;
	/* The size of the cards will be kind of limited, but that's okay */
	grid-template-columns: repeat(2, 1fr);
	/* Rows are at least 150px or just fits the width of the container if there's too much content inside of it */
	grid-auto-rows: minmax(160px, max-content);
	color: inherit;	
	column-gap: 12px;
	row-gap: 20px;
}

/* Styling for each menu card */
.menu-item-card {
	padding: 8px 12px;
	border-radius: var(--border-radius);
	display: flex;
	color: white;
	background-color: rgba(0,0,0, 0.7);
}

/* Styling the cards that display the menu items */
.menu-item-image {
	width: 150px;
	height: 150px;
	border-radius: var(--border-radius);
	/* Fixes blank space at bottom of image container */
	vertical-align: top;
}

/* Styling for the item info in the menu card */
.menu-item-info {
	margin-left: 8px;
	flex: 1; /*So it takes up remaining space not taken by the image*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.menu-item-info .item-price-el {
	font-style: italic;
}

/* Styling the order button */
.menu-order-btn {
	background-color: white;;
	border: 2px solid black;
	color: black;
}
.menu-order-btn:hover {
	background-color: black;
	color: white;
}

/* About page styling */
.about-content {
	background-color: rgba(0,0,0, 0.5);
	width: 50%;
	margin: 0 auto;
	height: 500px;
	color: white;
	padding: 20px 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* Styling for the quote */
blockquote {
	quotes: "\201C" "\201D"; /*sets quotation marks to be used*/
}
blockquote::before {
	content: open-quote;
}
blockquote::after {
	content: close-quote;
}
#quote-text {
	display: inline;
}

/* Styling for the section containing contact and restaurant information */
.contact-info-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;
}

/* Media query for smaller screens  */

/* If screen is 1100px or lower then we change the grid to we better*/
@media screen and (max-width: 1100px) {

	.menu-items-grid {
		grid-template-columns: 1fr;
		width: 60%; /* change size of grid and make it so one item per row*/
	}
	.menu-item-card {
		margin-left: auto; /* since we changed width do margin to center in grid*/
		margin-right: auto;
		width: 80%; /* Change the width of the menu item now it's on a smaller screen */
	}
}

